.title__items:nth-child(1) {
  font-size: 50px;
  left: 6.4%;
  top: 8.3%;
  transform: rotate(20deg);
  animation: move-1 1s ease;
}

@keyframes move-1 {
  from {
    transform: translate(-150px, -100px);
  }
}

.title__items:nth-child(2) {
  font-size: 60px;
  left: 12.4%;
  top: 41.3%;
  transform: rotate(17deg);
  animation: move-2 1s ease;
}

@keyframes move-2 {
  from {
    transform: translate(-300px, 40px);
  }
}

.title__items:nth-child(3) {
  font-size: 32px;
  left: 40.9%;
  top: 13.1%;
  transform: rotate(-15deg);
  animation: move-3 1s ease;
}

@keyframes move-3 {
  from {
    transform: translate(100px, -200px);
  }
}

.title__items:nth-child(4) {
  font-size: 36px;
  left: 49.5%;
  top: 67.1%;
  transform: rotate(21deg);
  animation: move-4 1s ease;
}

@keyframes move-4 {
  from {
    transform: translate(500px, 500px);
  }
}

.title__items:nth-child(5) {
  font-size: 44px;
  left: 19.2%;
  top: 85.4%;
  transform: rotate(-22deg);
  animation: move-5 1s ease;
}

@keyframes move-5 {
  from {
    transform: translate(-366px, 392px);
  }
}

.title__items:nth-child(6) {
  display: none;
  animation: move-6 1s ease;
}

@keyframes move-6 {
  from {
    transform: translate(-50px, -200px);
  }
}